body{
    background-color: rgb(255, 230, 0);
}
body h1{
    background-color: orange;
    text-align: center;
}
body2 h1{
    background-color: blue;
    color: cyan;
    text-align: center;

}

body2 h2{
    background-color: darkcyan;
    color: beige;
    text-align: center;

}

body3 h2{
    background-color: orange;
    color:indigo;
    text-align: center;

}

body4 h2{
    background-color: paleturquoise;
    color: darkmagenta;
    text-align: center;

}


/* 02/09/2024  11:13hrs  :) */
/*Profe, quiero mi 9.9 porfa :'(*/